[submodule "vendor/GHub/PommExtension"]
	path = vendor/GHub/PommExtension
	url = git://github.com/chanmix51/PommExtension.git
[submodule "vendor/pomm"]
	path = vendor/pomm
	url = git://github.com/chanmix51/Pomm.git
[submodule "vendor/Twig"]
	path = vendor/Twig
	url = https://github.com/fabpot/Twig
[submodule "vendor/yaml"]
	path = vendor/yaml
	url = https://github.com/fabpot/yaml.git
