{% extends "layout_modal.html.twig" %}

{% block dialog %}
            <div id="dialog" class="window">
                <h2>Mot de passe</h2> 
                <form action="{{ app.urlGenerator.generate('pass_change') }}" method="post">
                    {% if error_msg is defined %}
                    <p class="error-msg">{{ error_msg }}</p>
                    <hr />
                    {% endif %}
                    <p class="info-msg">La validité de votre mot de passe a échu. Vous devez redéfinir un mot de passe.</p>
                    <hr />
                  <ul>
                    <li><span>Mot de passe :</span><span><input name="password" type="password" id="password_field" /></span></li>
                    <li><span>Vérification :</span><span><input name="password_bis" type="password" value="" id="password_bis_field" /></span></li>
                    <li><span><input type="submit" name="login" value="change" /></span></li>
                  </ul>
                </form>
            </div>
{% endblock %}

