{% extends "layout_modal.html.twig" %}

{% block dialog %}
            <div id="dialog" class="window">
                <h2>Identification</h2> 
                <form action="{{ app.urlGenerator.generate('login') }}" method="post">
                    {% if error_msg is defined %}
                    <p class="error-msg">{{ error_msg }}</p>
                    <hr />
                    {% endif %}
                  <ul>
                    <li><span>Email :</span><span><input name="email" type="text" value="{{ email | default('') }}" id="email_field" /></span></li>
                    <li><span>Passe :</span><span><input name="password" type="password" value="" id="password_field" /></span></li>
                    <li><span><input type="submit" name="login" value="login" /></span></li>
                  </ul>
                </form>
            </div>
{% endblock %}
